{% extends 'base.html.twig' %}

{% block title %}JobAplication index{% endblock %}

{% block body %}
    <h1>JobAplication index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CoverLetter</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job_aplication in job_aplications %}
            <tr>
                <td>{{ job_aplication.id }}</td>
                <td>{{ job_aplication.coverLetter }}</td>
                <td>{{ job_aplication.createdAt ? job_aplication.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_job_aplication_show', {'id': job_aplication.id}) }}">show</a>
                    <a href="{{ path('app_job_aplication_edit', {'id': job_aplication.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_job_aplication_new') }}">Create new</a>
{% endblock %}
