<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

		<!-- Include Tailwind CSS -->
		<script src="https://cdn.tailwindcss.com"></script>

		<header class="text-gray-600 bg-white shadow-sm body-font">
			<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
				<a class="flex title-font font-medium items-center text-slate-700 mb-4 md:mb-0" href="{{ path('app_home') }}">
					<img width="120" src="{{ asset('assets/img/logo-jobiz.png') }}" alt="Jobiz">
				</a>
				<nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
					<a class="mr-5 hover:text-teal-600" href="{{ path('app_home') }}">Home</a>
					<a class="mr-5 hover:text-teal-600" href="{{ path('app_job_index') }}">Jobs</a>
					<a class="mr-5 hover:text-teal-600" href="{{ path('app_about') }}">About</a>
				</nav>

				<div class="flex md:flex-nowrap flex-wrap justify-center items-end md:justify-start px-3">
					<div class="relative sm:w-64 w-40 sm:mr-4 mr-2">
						<input type="text" placeholder="Search jobs" id="search-field" name="search-field" class="w-full bg-gray-100 bg-opacity-40 rounded border border-gray-300 focus:ring-2 focus:ring-teal-600 focus:bg-transparent focus:border-teal-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
					</div>
					<button class="inline-flex text-white bg-teal-600 border-0 py-2 px-6 focus:outline-none hover:bg-teal-700 rounded-full">Search</button>
				</div>

				{% if app.user %}
					<a class="inline-flex items-center bg-gray-100 border-0 py-2 px-3 ml-4 focus:outline-none hover:bg-gray-200 rounded-full text-base mt-4 md:mt-0" href="{{ path('app_logout') }}">Logout</a>
				{% else %}
					<a class="inline-flex items-center bg-gray-100 border-0 py-2 px-3 ml-4 focus:outline-none hover:bg-gray-200 rounded-full text-base mt-4 md:mt-0" href="{{ path('app_login') }}">Login</a>
				{% endif %}

				{% if is_granted('ROLE_ADMIN') %}
					<a class="inline-flex items-center bg-teal-600 text-white border-0 py-2 px-3 ml-4 focus:outline-none hover:bg-teal-700 rounded-full text-base mt-4 md:mt-0" href="{{ path('admin') }}">Admin</a>
				{% endif %}
			</div>
		</header>
	</head>
	<body class="font-[system-ui] flex flex-col min-h-screen">
		<main class="flex-grow"> {% block body %}{% endblock %}
			</main>

			<footer class="text-gray-400 bg-slate-800 body-font">
				<div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
					<a class="flex title-font font-medium items-center md:justify-start justify-center text-white" href="{{ path('app_home') }}">
						<img width="70" src="{{ asset('assets/img/logo-jobiz-white.png') }}" alt="Jobiz">
					</a>
					<p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-700 sm:py-2 sm:mt-0 mt-4">©
						{{ 'now' | date('Y') }}
						Jobiz - Connecting IT Talent
					</p>
					<span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
						<a class="text-gray-400 hover:text-teal-400">
							<svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewbox="0 0 24 24">
								<path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
							</svg>
						</a>
						<a class="ml-3 text-gray-400 hover:text-teal-400">
							<svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewbox="0 0 24 24">
								<path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
							</svg>
						</a>
						<a class="ml-3 text-gray-400 hover:text-teal-400">
							<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewbox="0 0 24 24">
								<rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
								<path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
							</svg>
						</a>
						<a class="ml-3 text-gray-400 hover:text-teal-400">
							<svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewbox="0 0 24 24">
								<path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
								<circle cx="4" cy="4" r="2" stroke="none"></circle>
							</svg>
						</a>
					</span>
				</div>
			</footer>
		</body>
	</html>
